
{
  :gpxtrack
  {
    :telegram
    {
      :apikey   "${GPXTRACK_APIKEY}"
      :botname  "gpxtrack_bot"
      :retry    3
      :timeout  5000
      :longpoll 10}  ;; sec
      ; :proxy {:host "http-proxy-host" :port 9999}}
    ;
    :storage
    {
      :prefix "track"}

    :map 
    {
      :track-url "https://angara.net/track?id="}
    ;

    :base-url "https://angara.net/files/"}

  ;;


  :mdb
  {:angara 
    {:url "${MDB_ANGARA}"}}
  ;

  :files
  {
    :base-dir "../files/track"}
  ;

  :build
  {
    :appname    "gpxtrack"
    :version    "DEV.0"
    :commit     "DEV-commit-hash"
    :timestamp  "1970-01-01T00:00:01+00:00"}}
;;
